<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-menu-button>
    <ion-title>Instalação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/elefante.jpg" />

  <h1>Instalação</h1>
  <h2>Ferramentas</h2>
  <ul>
    <li>Visual Studio</li>
    <li>Atom</li>
    <li>Sublime</li>
    <li>Etc</li>
  </ul>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac luctus leo, a semper orci. Aliquam fermentum mattis ornare. Praesent luctus non quam a efficitur. Nullam eget ante maximus ante rhoncus tincidunt non vel magna. Integer tristique velit nec rutrum pharetra. Curabitur quis eros tempus, fermentum ex vestibulum, blandit magna. Aliquam sed vulputate velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam cursus enim sodales, vestibulum lorem non, semper ligula. Duis condimentum bibendum scelerisque. Suspendisse dignissim eu mi quis tristique. Vestibulum ac enim non sapien mollis feugiat vel vitae nibh. Nulla vitae magna dapibus, faucibus dui et, aliquam velit. Nulla placerat turpis metus, in cursus ante volutpat et.</p>

  
</ion-content>
